.soak-dice-roller {
	margin: 4px;

	.soak-preset,
	.soak-type {
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		&.active {
			color: red;
		}

		&.button {
			border-radius: 15px;
			font-weight: 600;
		}
	}

	.label {
		text-align: center;
		color: white;
		background-color: #40450a;
		text-transform: uppercase;
	}
}
