header.char-header {
  align-items: center;
  display: flex;

  h1.char-name {
    border: none;
    margin: 0;

    input[type='text'] {
      color: white;
      font-family: CrushYourEnemies;
      font-size: 24px;
      height: 48px;

      &:focus {
        box-shadow: none;
      }
    }
  } // h1.char-name
} // header.char-header
