.skills {
  .skills-pane {
    @include p-reset;

    h1,
    h4,
    h6 {
      @include p-reset;
      align-items: center;
      display: flex;
      line-height: 1;
    }

    h1 {
      border: none;
      color: var(--primary);
      font-family: $serif;
      justify-content: center;
      text-align: center;
    }

    h4:hover {
      color: white;
      cursor: pointer;
    }

    .grid-container {
      display: grid;
      grid-template-columns: 0.1fr repeat(5, 1fr) 0.5fr 0.1fr;
      grid-template-areas:
        'hdr-bar hdr-bar   hdr-bar   hdr-bar   hdr-bar   hdr-bar   hdr-bar   hdr-bar'
        '.       skill-tbl skill-tbl skill-tbl skill-tbl skill-tbl skill-tbl       .';
      margin-bottom: 10px;
      margin-left: 5px;
    }

    .header-bar {
      background-image: url('../assets/sheet/attribute-block-header.png');
      background-size: 100% 100%;
      box-shadow: 0 0 5px #000;
      display: grid;
      grid-area: hdr-bar;
      grid-template-columns: 0.1fr repeat(6, 1fr) 0.1fr;
      grid-template-areas:
        '. attr-name attr-name attr-name attr-name attr-name attr-score .';
      text-transform: uppercase;
      z-index: 1;

      .attribute-name {
        color: #c0c0c0;
        grid-area: attr-name;
        padding-top: 2.5px;

        h4:hover {
          color: white;
        }
      }

      .attribute-score {
        grid-area: attr-score;
        height: 98%;
        text-align: center;
        padding-top: 3px;

        input[type='number'] {
          background: #d2d1c8;
          box-shadow: inset 0 0 4px #000000;
          color: #877053;
          height: 80%;
          text-align: center;
          width: 85%;

          &:hover {
            @include input-glow-brown;
          }
        } // .input
      } // .attribute-score
    } // .header-bar

    .skill-table {
      border-image-slice: 32;
      border-image-source: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGkAAABpAgMAAABE7OWpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAADFBMVEX///9nXlJnXlIAAADHvn4rAAAAAnRSTlMAAHaTzTgAAAABYktHRAMRDEzyAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH5AcZECcNZmJamQAAANBJREFUSMftljEOwyAMRZ1KuRdLdyKVzF2y9BRcInuXLj1lawMFV8SVGpIw8KckLwhL/G8MQHoyWUhl4RIeewWrmUFxNuMntYKNru7IbvT+IIY/zWNkk8F1U2M/mfGwN+WYvJ/ReNLnZJ07Wc6CS+2JTMEY6gq1MVdxZM6f9zcjD6M+LOh/hlnrBs4G7TK5FfPhJqaSHkCso8J0SLGulWXVWFXsEE/kfb1nxjbpE0Jfqqt/LjPpfpDulRrvv8a+mTDXeQ8XnSN9tovOu6TsfP0Czk5AHbKzIVkAAAAASUVORK5CYII=');
      border-image-width: 10px;
      border-left: none;
      border-right: none;
      border-style: solid;
      border-top: none;
      display: grid;
      grid-area: skill-tbl;

      input[type='number'] {
        background: none;
        border-color: #a7a6a6;
        border-style: solid;
        border-width: 1px;
        color: #877053;
        height: 90%;
        width: 50%;
      }

      table {
        background: none;
        border: none;
        color: #877053;
        margin: 0px;


        td,
        th {
          text-align: center;
        }

        tr {
          .skill-entry-name {
            padding-left: 10px;
            text-align: left;
          }

          .skill-entry-expertise,
          .skill-entry-focus {
            input:hover {
              @include input-glow-brown;
            }
          }

          .skill-expertise-header,
          .skill-focus-header,
          .skill-tn-header {
            width: 18%;
          }

          .skill-name-header {
            padding-left: 10px;
            text-align: left;
            width: 36%;
          }

          .skill-tab-roll-header {
            width: 5%;
          }
        } //tr

        tr:nth-child(2n+2) {
          background: rgba(0, 0, 0, 0.08);
        }

        .rollable:hover {
          color: white;
          cursor: pointer;
        }

        .skill-entry-header {
          background-color: #675e52;
          color: #dbdbdb;
          text-transform: uppercase;
        }
      } // table
    } // .skill-table
  } // .skills-pane
} // .skills
