.quantity-grid {
	@include p-reset;
	display: grid;
	grid-template-columns: 1fr 24px;

	.quantity-header {
		background-color: var(--secondary);
		color: white;
		grid-column: span 2;
		padding-left: 4px;
		padding-right: 4px;
		margin-top: 4px;
		margin-bottom: 4px;
		text-align: center;
		text-transform: uppercase;
	}

	input {
		grid-row: span 2;
		height: 42px;
		line-height: 1.65;
		border: 1px solid #eee;
		font-size: 32px;
		margin-left: 4px;
	}

	input:disabled {
		color: unset;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button
	{
		-webkit-appearance: none;
		appearance: none;
		margin: 0;
	}

	input[type=number]
	{
		-moz-appearance: textfield;
		appearance: textfield;
		text-align: center;
	}

	.quantity-up,
	.quantity-down {
		color: var(--primary);
		text-align: center;
		font-size: 18px;

		&:hover {
			@include input-glow;
			color: var(--secondary);
			cursor: pointer;
		}
	}

}
.quantity-grid.disable {
	opacity: 0.40;
	pointer-events: none;
}
