.skill-roller {
	margin: 4px;

	select {
		width: calc(100% - 8px);
		font-size: 14px;
		font-family: $serif;
		font-weight: 500;
		color: white;
		position: relative;
		background-color: var(--alt);
		line-height: 1;
		cursor: pointer;
		padding: 4px 18px 3px 5px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		text-overflow: ellipsis;
		height: auto;
		border: 1px solid #53422a;
		margin: 4px;

		&:hover {
			@include input-glow;
			color: white;
			cursor: pointer;
		}

		option {
			background-color: var(--alt);
		}
	}

	.dice {
        background-repeat: no-repeat;
        background-size: 48px;
        color: white;
		cursor: pointer;
        float: left;
        font-family: Norse;
        font-size: 32px;
        font-weight: bold;
        line-height: 48px;
        text-align: center;
        text-shadow: 2px 2px black;
        width: 48px;
		margin-left: 5px;

		&:hover {
			@include input-glow;
			color: white;
			cursor: pointer;
		}
	}

	.dice.fortune {
		background-image: url("../assets/icons/dice/d20-critical.svg");
	}

	.dice.selected {
		background-image: url('../assets/icons/dice/d20-success.svg');
	}

	.dice.unselected {
		background-image: url('../assets/icons/dice/d20-fail.svg');
		opacity: 0.40;

		&:hover {
			opacity: 0.60;
		}
	}

	.difficulty {
		padding: 0px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		&.active {
			color: red;
		}

		&.button {
			border-radius: 15px;
			font-weight: 600;
		}
	}

	.difficulty-increased {
		text-align: center;
		color: red;
		font-size: small;
		font-weight: 500;
	}

	.disable-entry {
		opacity: 0.40;
		pointer-events: none;
	}

	.label {
		background-color: #40450a;
		color: white;
		text-align: center;
		text-transform: uppercase;
	}

	.skill-selectors {
		margin: 0;
		padding: 0;
	}

	.test-details {
		text-align: center;
		color: white;
		background-color: #40450a;
		line-height: 22px;
	}
}
